:root {
    --back: #313338;
    --title: #BAAFFF;
    --menus: #1E1F22;
    --submenus: #2D2D2D;
    --text-first: #CBD6D6;
    --text-second: #949494;
    --hover-color1: #9281FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--back);

    display: flex;
    justify-content: center;
}

.container {
    width: 1000px; 
    min-height: 100vh;

    border-radius: 10px;

    background: var(--menus);

    display: flex;
    justify-content: center;


    color: var(--title);
}

.todo__block {
    margin: 30px;
}

.title {
    text-align: center;

    margin-bottom: 30px;

    font-size: 36px;
}

button, input {

    user-select: none;
    outline: none;

    border: 0px;
    border-radius: 10px;

    padding: 10px;
    
    font-size: 20px;

    color: var(--text-first);

    background: var(--submenus);
}

button:hover {
    color: var(--hover-color1);

    transition: 0.3s;
}

:disabled, :disabled:hover {
    color: var(--text-second);
}

.task__element {
    background: var(--submenus);

    display: flex;
    justify-content: space-between;

    font-size: 20px;
    line-height: 45.5px;

    min-width: 500px;

    margin-bottom: 10px;
}

.task__list, .input__field {
    margin: 30px 0px;
}

.task__text {
    margin-left: 5px;

    text-transform: uppercase;
}

::-webkit-scrollbar{width:8px;background:var(--menus);}::-webkit-scrollbar-thumb{box-shadow: inset 0 0 100px var(--title);}
